@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Edu+SA+Beginner:wght@700&family=Inconsolata:wght@300&family=Josefin+Sans&family=Kdam+Thmor+Pro&family=Oldenburg&family=Pacifico&family=Roboto:wght@700&display=swap');

*{
  /* background-color: rgb(20, 20, 20); */
  margin: 0;
  font-family:'Oldenburg', cursive;;
}
html, body {
  margin: 0;
  height: 100%;
}
.HeaderWrapper {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 3;
  color: white;
  padding-top: 5px;
}
#logo{
  height: 70px;
  width: 70px;
  margin-top: 5px;
  /* position: absolute; */
 
}
.linkWrapper{
  display: flex;
  gap: 15px;
}
#left-side-wrapper {
  display: flex;
  
}
.middleBanner{
  z-index: 3;
}
.awssld  {
  height: 100vh;
  position: absolute;
  background-color: black;
}
.firstBannerWrapper, .secondBannerWrapper {
  z-index: 3;
}
.awssld__next, .awssld__prev {
  --organic-arrow-color: #ffffff;
}
.StoreWrapper{
  background-image: url('./assets/pexels-pixabay-220755.jpg');
  background-size:cover;
  width: 100%;
  height: 100vh;
}
.shoppingCartWrapper{
  display: flex;
  justify-content: center;
}
.ShoppingCartBackground {
  background-image: url('./assets/shoppingcart.jpg');
  background-size:cover;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.ShoppingCartWrapper {
  justify-content: center;
  display: flex;
  width: 80%;
  height: 70vh;
  overflow: auto; 
  margin-top: 100px;
  border: dotted rgb(97, 97, 97);
  text-align: center;
  font-size: 30px;
  color: white;
}
#item1 {
  width: 200px;
  height: 200px;
}
.shoppingBasketIcon {
  height: 30px;
  width: 30px;
  margin-top: -5px;
  padding-left: 15px;
}
.item1Wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 700px;
}
.itemWrappermain {
  display: flex;
  justify-content: center;
}
.item {
  margin-top: 10px;
  z-index: 4;
}
.itemBinIcon {
  width: 30px;
  height: 30px;
}
#store-button {
  color: red;
}

