@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Edu+SA+Beginner:wght@700&family=Inconsolata:wght@300&family=Josefin+Sans&family=Kdam+Thmor+Pro&family=Oldenburg&family=Pacifico&family=Roboto:wght@700&display=swap');

*{
  margin: 0;
  font-family:'Oldenburg', cursive;
  text-decoration: none;
}
html, body {
  margin: 0;
  height: 100%;
}
.HeaderWrapper {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 3;
  color: white;
  padding-bottom: 4px;
  padding-top: 5px;
  
}
#logo{
  height: 70px;
  width: 70px;
  margin-top: -35px;
  margin-left: -50px;
  position: absolute;
}
.linkWrapper{
  display: flex;
  align-items: center;
  gap: 15px;
}
#left-side-wrapper {
  display: flex;
}
.middleBanner{
  z-index: 2;
}
.awssld  {
  height: 100vh;
  position: absolute;
  background-color: black;
}
.firstBannerWrapper, .secondBannerWrapper {
  z-index: 2;
}
.awssld__next, .awssld__prev {
  --organic-arrow-color: #ffffff;
}
.StoreWrapper{
  background-image: url('./assets/pexels-pixabay-220755.png');
  background-size:cover;
  background-color: black;
  width: 100%;
  height: 100%;
}
.shoppingCartWrapper{
  display: flex;
  justify-content: center;
}
.ShoppingCartBackground {
  background-image: url('./assets/shoppingcart.jpg');
  background-size:cover;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.sustainability-info-button  {
  background-color: rgb(190, 113, 25);
  border: none;
  color: rgb(252, 252, 252);
  padding: 7px 16px;
  text-align: center;
  cursor: pointer; 
  display: inline-block;
  font-size: 16px;
  opacity: 90%;
}
.sustainability-info-button:hover {
  opacity: 100%;
}
.ShoppingCartWrapper {
  justify-content: center;
  display: flex;
  width: 80%;
  height: 70vh;
  overflow: auto; 
  margin-top: 100px;
  /* border: solid rgb(97, 97, 97); */
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.3);
}
#item1 {
  width: 200px;
  height: 200px;
}
.shoppingBasketIcon {
  height: 30px;
  width: 30px;
  margin-top: 5px;
  padding-left: 15px;
}
.item1Wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 700px;
}
.itemWrappermain {
  display: flex;
  justify-content: center;
}
.item {
  margin-top: 10px;
  z-index: 2;
}
.itemBinIcon {
  width: 30px;
  height: 30px;
}
#store-button {
  color:white;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.Modal {   
  height: 450px;
  width: 100%;
  position: absolute; 
  margin-top: 70px;
  background-color: rgb(219, 219, 219);
  z-index: 10;
  opacity: 98%;
}
.Modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.modal-top-row, .modal-bottom-row {
  display: flex;
  flex-direction: row;
  gap: 75px;
  justify-content: center;
  align-items: center;
}
.modal-bottom-row {
gap: 25px;
}
.clothesImages {
  height: 100px;
  width: 100%;
  margin-top: 15px;
}
.modal-top-row-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-decoration: none;
  color: black;
  
}
.modal-bottom-row-items {
  margin-top: 30px;
  display: flex;
  border: solid rgb(68, 68, 68);
  height: 200px;
  width: 261px;
  
}
.feature-boxes {
  box-sizing: content-box;
}
.item-page-wrapper {
  background-image: url('./assets/shoppingcart.jpg');
  background-size:cover;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-decoration: none;
}
.store {
  color: white;
}
#store-button:hover {
  text-decoration: underline;
}
.itemsWrapper {
  display: grid;
  justify-content: center;
  gap: 5px;
  row-gap: 100px;
  padding-top: 40px;
  padding-bottom: 100px;
  grid-template-columns: repeat(1, 80%);
  grid-template-rows: repeat(5, 250px);

}
.individual-item {
  padding-top: 10px;
  height: 100%;
  width: 250px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(228, 228, 228);
  box-shadow: 0px 16px 15px 1px #000000
}
.individual-item-image{
  height: 80%;
  width: 80%;
}
.Jackets, .Tops, .Shirts, .Bottoms, .Knitwear {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.add-to-basket-icon{
  height: 20px;
  width: 20px;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.lower-item-row{
  display: flex;
  gap: 5px;
  padding-bottom: 10px;
  align-items:flex-end;
}
.footer-wrapper {
  display: flex;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  position: absolute;
  width: 100%;
  justify-content: center;
  padding-top: 4px;
}
#github-logo {
  height: 30px;
  width: 30px;
  margin-top: 3px;
}
.made-by {
  display: flex;
  align-items: center;
  gap: 10px;
}


#all-items-header {
  padding-bottom: 5px;
  padding-top: 120px;
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
} 
.basket-icon-wrapper {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: end;
}
#basket-number-value {
  margin-left: 110px;
  margin-top: 2px;
  position: absolute;
}
.item-details {
  display: flex;
  align-items: center;
  /* background-color: #c9c9c9; */
}
.item-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 90px;
}
.item-photo {
  height: 200px;
  width: auto;
  padding-right: 100px;
}
.item-spacer {
  display: flex;
  border: solid;
  height: 150px;
}
#remove-button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  padding-left: 80px;
}
#remove-button-icon {
  height: 32px;
  width: 100%;
}